log:
  level: info

runner:
  file: /data/.runner
  capacity: 2
  timeout: 3h
  insecure: false
  fetch_timeout: 5s
  fetch_interval: 2s

cache:
  enabled: true
  dir: /data/cache

host:
  workdir_parent: /data/workspace
