---
theme: dark

server:
  address: 'tcp://0.0.0.0:9091'

log:
  level: info

totp:
  issuer: authelia.${DOMAIN_NAME}

authentication_backend:
  ldap:
    address: 'ldap://lldap:3890'
    base_dn: '${LDAP_BASE_DN}'
    additional_users_dn: 'ou=people'
    users_filter: '(&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))'
    additional_groups_dn: 'ou=groups'
    groups_filter: '(member={dn})'
    user: 'uid=admin,ou=people,${LDAP_BASE_DN}'
    password: '${LLDAP_LDAP_USER_PASS}'
    attributes:
      username: 'uid'
      display_name: 'displayName'
      mail: 'mail'
      group_name: 'cn'

session:
  secret: '${AUTHELIA_SESSION_SECRET}'
  cookies:
    - domain: '${DOMAIN_NAME}'
      authelia_url: 'https://authelia.${DOMAIN_NAME}'

storage:
  encryption_key: '${AUTHELIA_STORAGE_ENCRYPTION_KEY}'
  postgres:
    address: 'tcp://authelia-db:5432'
    database: 'authelia'
    username: 'authelia'
    password: '${AUTHELIA_DB_PASSWORD}'

notifier:
  filesystem:
    filename: '/config/notifications.txt'

access_control:
  default_policy: deny
  rules:
    - domain: 'ldapadmin.${DOMAIN_NAME}'
      policy: two_factor
    - domain: 'norish.${DOMAIN_NAME}'
      policy: two_factor

identity_providers:
  oidc:
    hmac_secret: '${AUTHELIA_OIDC_HMAC_SECRET}'
    jwks:
      - key_id: 'main'
        algorithm: 'RS256'
        use: 'sig'
        key: {{ secret "/secrets/oidc-jwks.pem" | mindent 10 "|" | msquote }}
    clients:
      - client_id: 'norish'
        client_name: 'Norish'
        client_secret: '${NORISH_OIDC_CLIENT_SECRET}'
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - 'https://norish.${DOMAIN_NAME}/api/auth/callback/oidc'
        scopes:
          - openid
          - profile
          - email
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_post

identity_validation:
  reset_password:
    jwt_secret: '${AUTHELIA_JWT_SECRET}'
