---
theme: dark

server:
  address: 'tcp://0.0.0.0:9091'

log:
  level: info

totp:
  issuer: authelia.{{ env "DOMAIN_NAME" }}

authentication_backend:
  ldap:
    address: 'ldap://lldap:3890'
    base_dn: '{{ env "LDAP_BASE_DN" }}'
    additional_users_dn: 'ou=people'
    users_filter: '(&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))'
    additional_groups_dn: 'ou=groups'
    groups_filter: '(member={dn})'
    user: 'uid=admin,ou=people,{{ env "LDAP_BASE_DN" }}'
    password: '{{ env "LLDAP_LDAP_USER_PASS" }}'
    attributes:
      username: 'uid'
      display_name: 'displayName'
      mail: 'mail'
      group_name: 'cn'

session:
  secret: '{{ env "AUTHELIA_SESSION_SECRET" }}'
  cookies:
    - domain: '{{ env "DOMAIN_NAME" }}'
      authelia_url: 'https://authelia.{{ env "DOMAIN_NAME" }}'

storage:
  encryption_key: '{{ env "AUTHELIA_STORAGE_ENCRYPTION_KEY" }}'
  postgres:
    address: 'tcp://authelia-db:5432'
    database: 'authelia'
    username: 'authelia'
    password: '{{ env "AUTHELIA_STORAGE_POSTGRES_PASSWORD" }}'

notifier:
  filesystem:
    filename: '/config/notifications.txt'

access_control:
  default_policy: deny
  rules:
    - domain: 'ldapadmin.{{ env "DOMAIN_NAME" }}'
      policy: two_factor
    - domain: 'norish.{{ env "DOMAIN_NAME" }}'
      policy: two_factor
    - domain: 'portainer.{{ env "DOMAIN_NAME" }}'
      policy: two_factor
    - domain: 'request.{{ env "DOMAIN_NAME" }}'
      policy: one_factor

identity_providers:
  oidc:
    hmac_secret: '{{ env "AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET" }}'
    jwks:
      - key_id: 'main'
        algorithm: 'RS256'
        use: 'sig'
        key: {{ secret "/secrets/oidc-jwks.pem" | mindent 10 "|" | msquote }}
    clients:
      - client_id: 'norish'
        client_name: 'Norish'
        client_secret: '{{ env "NORISH_OIDC_CLIENT_SECRET" }}'
        public: false
        authorization_policy: two_factor
        redirect_uris:
          - 'https://norish.{{ env "DOMAIN_NAME" }}/api/auth/callback/oidc'
        scopes:
          - openid
          - profile
          - email
        userinfo_signed_response_alg: none
        token_endpoint_auth_method: client_secret_post

identity_validation:
  reset_password:
    jwt_secret: '{{ env "AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET" }}'
